<div class="pheader">
    <h2>{{data.name}}
        <ng-template ngFor let-label [ngForOf]="headerLabels">
            <ng-container *ngIf="label; else missingHeaderLabel">
                <ptooltip [tooltip]="label.tooltip.text"
                          [tooltipHtml]="prefixInternalLink(label.tooltip.html)" [position]="'s'">
                    <div class="label mylabel {{label.clazz}}" [class.label--plain]="!labelColorsEnabled"
                         [style.color]="labelColorsEnabled ? label.color : null"
                         [style.background-color]="labelColorsEnabled ? label.backgroundColor : null">
                        {{label.name}}
                    </div>
                </ptooltip>
            </ng-container>
        </ng-template>
        <ng-template #missingHeaderLabel>
            <div class="label mylabel label--missing">Missing</div>
        </ng-template>
        <small><a href="{{data.url}}" target="_blank">{{data.url}}</a></small>
    </h2>
</div>
<div class="grid-content">
    <pcard *ngIf="descriptionData" heading="{{bodyTitle}}" class="description">
        <div *ngIf="descriptionCriteria.type === 'MARKDOWN'" [innerHTML]="descriptionData.html | sanitizeHtml"
             class="description"></div>
        <div *ngIf="descriptionCriteria.type === 'TEXT'" [innerHTML]="descriptionData.text | sanitizeHtml"
             class="description"></div>
    </pcard>

    <ng-template ngFor let-entry [ngForOf]="tags" let-i="index">
        <pcard heading="{{headers[i]}}">
            <div class="card-content">
                <a *ngIf="types[i] === 'url'" class="anchored"
                   href="{{entry.link}}"
                   target="_blank">{{entry.text}}</a>
                <ng-container *ngIf="types[i] === 'LABEL' || types[i] === 'REPOSITORY'">
                    <ng-container *ngIf="entry?.labelArray?.length; else missingDetailLabel">
                        <ng-container *ngFor="let label of entry?.labelArray">
                            <ptooltip *ngIf="!tooltipAsText"
                                      [tooltip]="label.tooltip.text"
                                      [tooltipHtml]="prefixInternalLink(label.tooltip.html)" [position]="'n'">
                                <div class="label mylabel {{label.clazz}}" [class.label--plain]="!labelColorsEnabled"
                                     [style.color]="labelColorsEnabled ? label.color : null"
                                     [style.background-color]="labelColorsEnabled ? label.backgroundColor : null">
                                    {{label.name}}
                                </div>
                            </ptooltip>
                            <div *ngIf="tooltipAsText" class="tt-container">
                                <span class="label mylabel {{label.clazz}} tt-label" [class.label--plain]="!labelColorsEnabled"
                                      [style.color]="labelColorsEnabled ? label.color : null"
                                      [style.background-color]="labelColorsEnabled ? label.backgroundColor : null">
                                {{label.name}}
                                </span>
                                <span class="tooltip-text tt-tooltip" [innerHtml]="label.tooltip.text|sanitizeHtml"></span>
                                <br *ngIf="label.tooltip.text && label.tooltip.html">
                                <span class="tooltip-text tt-tooltip" [innerHtml]="prefixInternalLink(label.tooltip.html|sanitizeHtml)"></span>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ul *ngIf="entry?.detailLabels?.length" class="detail-list">
                        <li *ngFor="let detail of entry.detailLabels">{{detail.name}}</li>
                    </ul>
                    <div class="repository-links" *ngIf="entry?.type === 'REPOSITORY' && entry?.urlList?.length">
                        <a *ngFor="let link of entry.urlList" [href]="link" target="_blank" rel="noopener noreferrer">{{link}}</a>
                    </div>
                </ng-container>
                <ng-template #missingDetailLabel>
                    <div class="label mylabel label--missing">Missing</div>
                </ng-template>

                <span *ngIf="types[i] === 'TEXT'">{{entry.content}}</span>

                <span *ngIf="types[i] === 'MARKDOWN'"
                      [innerHtml]="prefixInternalLink(entry?.html | sanitizeHtml)"></span>

                <span *ngIf="types[i] === 'RATING'" [innerHtml]="prefixInternalLink(entry?.html | sanitizeHtml)"></span>
            </div>
        </pcard>
    </ng-template>

    <pcard heading="References" *ngIf="configurationService.configuration.citation?.length" class="description">
        <referencestable [changeNum]="configurationService.configuration.citation.length"
                         [citationMap]="configurationService.configuration.citation" [prefix]="'details-'"></referencestable>
    </pcard>
</div>
